nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: darkgray;
    font-size: 20px;
}


.login-form-container{
    display: flex;
    justify-content: center;
}

input{
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(95, 95, 95);
    background-color: rgb(255, 255, 255);
    height: 30px;
}

.login-form{
    display: flex;
    border: 2px solid rgb(122, 115, 115);
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: rgb(245, 237, 228);
    border-radius: 20px;

}